body {
  margin: 0;
}
nav.navbar {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100%;
  padding: 10px 0px;
}
nav.navbar a {
  font-size: 22px;
  text-decoration: none;
  color: white;
  line-height: 36px;
}
nav.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
nav.navbar li {
  display: inline-block;
  padding: 0px 50px;
}
nav.navbar li:last-child {
  border-bottom: none;
}
nav a:link {
  text-decoration: none;
  color: white;
}
nav a:visited {
  text-decoration: none;
  color: grey;
} /*visited links*/

nav a:hover {
  color: red;
}
nav a:active {
  color: grey;
} /*pressed links*/

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 572px;
  /* border: 2px solid red; */
  position: relative;
}
.content .img-container {
  min-height: 200px;
}
.content img {
  max-width: 100%;
  opacity: 0.2;
}
.content .abs-pos {
  position: absolute;
  width: 100%;
}

.hero-img-container {
  position: relative;
  width: 100%;
  /* right: 10px; */
}

#HeroTitle {
  text-align: center;
  padding-top: 210px;
  color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 80px;
  text-shadow: 1px 0px 4px black; /*this adds a border around the text and makes it pop out a little*/
}
.profile-img-container {
  width: 100%;
}
.about-container {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
/* .content .profile-img-container {
  width: 300px;
} */
