.red {
  background-color: rgba(83, 17, 138);
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightskyblue;
}

.yellow {
  background: linear-gradient(rgba(231, 154, 10, 0.9), rgba(83, 17, 138, 1));
}

.cyan {
  background: linear-gradient(rgba(83, 17, 138, 1), rgba(231, 154, 10, 0.9));
}

.purple {
  background-color: plum;
}

.content {
  position: relative;
  padding: 20px;
}

#vertCenter1 {
  height: 400px;
}
#vertCenter2 {
  height: 100px;
}
#vertHorizCenter1 {
  height: 300px;
}
#vertHorizCenter2 {
  height: 500px;
}

#vertCenter1 img {
  position: absolute;
  height: 400px; /* because we need to calculate the margin */
  /* margin-top: -50px;
  top: 50%; */
  display: block;
}
#VertCenter2 p {
  color: bisque;
}
#vertHorizCenter2 img {
  width: 100%;
}
#bio {
  position: absolute;
  top: 30%;
  color: rgba(83, 17, 138);
  /* transform: translateY(-50%);
  margin: 0px; MARGINS affect the centering in this method! */
}

#vertHorizCenter1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;

  /* Half the width accounting for padding and border */
  margin-left: -103px;
  width: 194px;

  /* Half the height accounting for padding and border */
  margin-top: -136px;
  height: 259px;

  background-color: beige;
}

#vertHorizCenter2 p {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0px;
  text-align: justify;
  color: papayawhip;
}
.movie {
  padding: 10px;
  position: relative;
}
.synposis {
  position: relative;
  padding: 20px;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
