/* Coolors Exported Palette - coolors.co/fff07c-f7a9a8-ca7df9-ff99c8-c7efcf */

/* HSL */
$color1: hsla(53%, 100%, 74%, 1);
$color2: hsla(1%, 83%, 81%, 1);
$color3: hsla(277%, 91%, 73%, 1);
$color4: hsla(332%, 100%, 80%, 1);
$color5: hsla(132%, 56%, 86%, 1);

/* RGB */
$color1: rgba(255, 240, 124, 1);
$color2: rgba(247, 169, 168, 1);
$color3: rgba(202, 125, 249, 1);
$color4: rgba(255, 153, 200, 1);
$color5: rgba(199, 239, 207, 1);