/************************************
GLOBAL STYLES************************/
html {
  margin: 0px;
}
body {
  margin: 0px;
  font-size: 16px;
  font-family: Prata, Georgia, "Times New Roman", Times, serif;
}
.container {
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  background-color: #2d0d04;
}

/* use clear fix to keep parent container from 
collapsing down since everything inside was floated */
.clearfix {
  clear: both;
}
.floater-section {
  float: left;
  /* width: 100%; */
}
.content-relative-pos {
  position: relative;
}
.content {
  position: static;
}

/* CONTENT SPECIFIC STYLING**************************
**************************************************** */

/* -------------------Home page----------------------------- */

/*****************SMALL SCREEN*******************/
@media (min-width: 375px) {
}

/*****************MEDIUM SCREEN*******************/
@media (min-width: 768px) {
}
/*****************LARGE SCREEN*******************/
@media (min-width: 992px) {
}
