/* ***********************************
GLOBAL STYLES************************/

html {
  margin: 0px;
}
body {
  margin: 0px;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
/* use clear fix to keep parent container from collapsing down since everything inside was floated */
.clearfix {
  clear: both;
}
.floater-section {
  float: left;
  width: 100%;
}
.content-relative-pos {
  position: relative;
}
.content {
}

/* CONTENT SPECIFIC STYLING**************************
**************************************************** */
/* Brown #c69c6d */
/* text-shadow: 1px 0px 4px black; /*this adds a border around the text and makes it pop out a little*/
/* -------------------Home page----------------------------- */
.logoLG-container {
  /* min-height: 237px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logoLG-container img {
  text-shadow: 2px black;
}
.home-img-container {
}
.home-img-container img {
  width: 100%; /*keeps width same width as container*/
}
.img-container2 img {
  max-width: 100%;
}

.text-container {
  font-family: Domine, Martel, Prata, Georgia, "Times New Roman", Times, serif;
  color: white;
  size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  /* text-shadow: 1px 0px 4px #c69c6d; */
  background-color: black;
  width: 100%;
}

/* -------------------Menu page------------------- */
.menu-container {
  /* border: 2px solid yellow; */
  position: relative;
  min-height: 100px;
}
.menu-content {
  min-width: 300px;
  max-height: 550px;
  color: white;
  overflow: auto;
  margin: auto;
  position: relative;
  font-size: 1.25em;
}
.ingredients {
  font-size: 0.75em;
  color: #c69c6d;
  font-style: italic;
  font-weight: lighter;
}
th {
  text-transform: uppercase;
  border-bottom: 3px solid #c69c6d;
  padding: 10px 0px;
}
.menu-content table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.menu-content p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -------------------Contact page--------------- */
.form-content {
}
button {
  color: #c69c6d;
  text-shadow: 1px black;
  background-color: white;
  border: 2px solid #c69c6d;
  border-radius: 5px;
  font-size: 1.2em;
}
button:active {
  background-color: #c69c6d;
  color: white;
  border-top: 2px solid #b2b2b2;
  font-size: 1.2em;
}
button:hover,
button:focus {
  color: #c69c6d;
  text-shadow: 1px 1px black;
  font-size: 1.2em;
}
form h2,
p {
  color: white;
}
.message-content {
  color: white;
}
h1 {
  color: white;
  /* color: #c69c6d; */
}
h2 {
  color: white;
  /* color: #c69c6d; */
}
/* -----------------About page-------------- */
.about-content p {
  color: #c69c6d;
}
.hours {
  color: white;
}

/*****************SMALL SCREEN*******************/
@media (min-width: 450px) {
  .img-container1 {
    width: 440px;
    /* margin: 0px auto; */
    /* background-color: black; */
  }
}
/*****************MEDIUM SCREEN*******************/
@media (min-width: 768px) {
  .img-container1 {
    width: 760px;
    /* margin: 0px auto; */
    /* background-color: black; */
  }
}
/*****************LARGE SCREEN*******************/
@media (min-width: 992px) {
  .img-container1 {
    width: 960px;
    /* margin: 0px auto; */
    /* background-color: black; */
  }
}
