.content {
  border: 2px solid yellow;
  position: relative;
}
.nav-fix {
  height: 55px;
  width: 100%;
}
.img-container {
  min-height: 237px;
}
.img-container2 {
  min-height: 300px;
}
.content img {
  /* max-height: 400px; */
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#VertHorzCtr2 {
  height: 60px;
}

.sm-logo {
  max-width: 100%;
}
#since1992 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}
/* .title {
    padding-top: 50px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #HeroTitle {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-shadow: 1px 0px 4px black; /*this adds a border around the text and makes it pop out a little*/
/* }
  #HeroSub {
    text-align: center;
    color: white;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 1px 0px 4px black; /*this adds a border around the text and makes it pop out a little*/
/* margin: 0 auto;
  } */
