/* RESPONSIVE LAYOUT STRUCTURE***************
*********************************************/
/* DEFAULT */

/*****************SMALL SCREEN*******************/
@media (min-width: 375px) {
  .sm-width-25 {
    width: 25%;
  }
  .sm-width-33 {
    width: 33.3333%;
  }
  .sm-width-50 {
    width: 50%;
  }
  .sm-width-75 {
    width: 75%;
  }
  .sm-width-66 {
    width: 66.6666%;
  }
  .sm-width-100 {
    width: 100%;
  }
}
/*****************MEDIUM SCREEN*******************/
@media (min-width: 768px) {
  .med-width-25 {
    width: 25%;
  }
  .med-width-33 {
    width: 33.3333%;
  }
  .med-width-50 {
    width: 50%;
  }
  .med-width-75 {
    width: 75%;
  }
  .med-width-66 {
    width: 66.6666%;
  }
  .med-width-100 {
    width: 100%;
  }
}
/*****************LARGE SCREEN*******************/
@media (min-width: 992px) {
  .lg-width-25 {
    width: 25%;
  }
  .lg-width-33 {
    width: 33.3333%;
  }
  .lg-width-50 {
    width: 50%;
  }
  .lg-width-75 {
    width: 75%;
  }
  .lg-width-66 {
    width: 66.6666%;
  }
  .lg-width-100 {
    width: 100%;
  }
}
