/* 
#BB9457 light brown (deer)
#A27035 med brown (metallic sunburst)
#443627 dark brown (cafe noir)
#23395B navy (Japanese indigo) 
#efeeea ivory 

Header font: font-family: "Amatic SC", cursive;
font-family: "Josefin Sans", Helvetica, Ariel, sans-serif;
text-shadow: 1px 0px 4px black; this adds a border around the text and makes it pop out a little*/

/*------------GLOBAL STYLES----------------*/
html {
  margin: 0px;
}
body {
  margin: 0px;
  min-width: 375px;
  font-family: "Josefin Sans", Helvetica, Ariel, sans-serif;
  font-size: 20px;
  color: #443627;
}
img {
  max-width: 100%;
  height: auto;
}
#wrapper {
  margin: 0; /*this sets the width of the comp in the mobile that allows 
  for some margin left and right. */
  width: 100%; /*It's also common to set the wrapper to 100% 
  so you can use all the space.*/
  max-width: 992px; /*important so your wrapper starts at 100% (default) and 
  expands to 992px or the width of your comp but doesn't 
  overstretch*/
  background-color: #efeeea;
}
.header-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bb9457;
  margin: 0px;
  padding: 10px;
}
.header-blurb p {
  color: #23395b;
  margin: 0 auto;

  padding-top: 0px;
  padding-bottom: 0px;
}
/*--------------SMALL SCREEN------------------*/
@media (min-width: 375px) {
  header {
    margin: 0px;
    min-width: 375px;
  }
  .container {
    margin: 0px;
    min-width: 375px;
    background-color: #efeeea;
  }
  .navfix {
    /* margin: 0px; */
    background-color: #efeeea;
  }
  .container h1 {
    color: #23395b;
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    color: #443627;
  }
  .container ul {
    color: #443627;
    font-family: "Josefin Sans", sans-serif;
  }
  .footer-text-container {
    display: flex;
    justify-content: center;
    background-color: #23395b;
  }
  .footer-text-container p {
    font-size: 12px;
    text-align: center;
    color: #efeeea;
  }

  /*--------------NAVBAR LOGO--------------------*/

  .roverRescue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bb9457;
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    color: #23395b;
  }
  .rover {
  }
  .rescue {
  }
  .logo {
    padding: 30px 0 0 0;
  }

  /*--------------NAVBAR LINKS--------------------*/
  nav {
    background-color: #23395b;
    width: 100%;
    padding: 10px 0px;
    /* position: fixed; */
    z-index: 10;
  }
  nav a {
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  nav li {
    display: flex;
    margin: 5px 30px 5px 30px;
  }
  nav li:last-child {
    border-bottom: none;
  }
  nav a:link {
    color: #efeeea;
  }
  nav a:visited /*visited links- make same color as link color*/ {
    text-decoration: none;
    color: #efeeea;
  }
  nav a:hover {
    text-decoration: none;
    color: #bb9457;
  }
  nav a:active /*the color when link is being pressed*/ {
    text-decoration: none;
    color: #a27035;
  }
  /* --------------HOME -----------------*/
  .img-container {
    /* width: 375px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #puppyEyes {
    width: 100%;
    margin: 0 auto;
  }
  .text-container p {
    margin: 0;
    padding: 30px;
  }

  /* --------------BLOG -----------------*/

  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog h1 {
    color: #23395b;
    padding: 30px;
    text-align: center;
    margin: 0;
  }
  .blog p {
    margin: 0;
    padding: 30px;
    color: #443627;
  }

  .adopt-ad {
    display: flex;
    flex-direction: row;
  }
  .dog-img {
    /* use this to put a frame around pics */
    border-color: #443627;
    border-width: 2px;
    padding: 10px 30px;
  }
  .dog-info {
    color: #443627;
  }
  .dog-name h3 {
    padding: 10px;
  }
  .dog-stats p {
    padding: 10px;
  }
}
/* -----------------DONATE----------------- */
.tax-deduct p {
}
