/* 
#BB9457 light brown (deer)
#A27035 med brown (metallic sunburst)
#443627 dark brown (cafe noir)
#23395B navy (Japanese indigo) 
#efeeea ivory 

Header font: font-family: "Amatic SC", cursive;
font-family: "Josefin Sans", Helvetica, Ariel, sans-serif;
text-shadow: 1px 0px 4px black; this adds a border around the text and makes it pop out a little*/

/*------------GLOBAL STYLES----------------*/
.clearfix {
  clear: both;
}
html {
  margin: 0px;
}
body {
  margin: 0px;
  min-width: 375px;
  font-family: "Josefin Sans", Helvetica, Ariel, sans-serif;
  font-size: 16px;
  color: #443627;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  background-color: #bb9457;
  margin: 0; /*this sets the width of the comp in the mobile that allows 
  for some margin left and right. */
  width: 100%; /*It's also common to set the wrapper to 100% 
  so you can use all the space.*/
  /* max-width: 992px;important so your wrapper starts at 100% (default) and
  expands to 992px or the width of your comp but doesn't 
  overstretch*/
}
.header-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23395b;
  /* margin: 0px;
  padding: 0px; */
}
.header-blurb p {
  color: #efeeea;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
/*--------------SMALL SCREEN------------------*/
@media (min-width: 375px) {
  .header-text-container {
    background-color: #23395b;
  }
  .header-text-container p {
    margin: 0;
    padding: 40px;
    color: #efeeea;
  }
  .text-container {
    background-color: #efeeea;
  }
  .text-container p {
    margin: 0;
    padding: 30px;
  }
  header {
    margin: -10px;
    min-width: 375px;
  }
  .container {
    margin: 0px;
    min-width: 375px;
    background-color: #efeeea;
  }
  .navfix {
    /* margin: 0px; */
    background-color: #efeeea;
  }
  .container h1 {
    color: #23395b;
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.5;
    color: #443627;
  }
  .container ul {
    color: #443627;
    font-family: "Josefin Sans", sans-serif;
  }
  .footer-text-container {
    display: flex;
    justify-content: center;
    background-color: #23395b;
  }
  .footer-text-container p {
    font-size: 12px;
    text-align: center;
    color: #efeeea;
  }

  /*--------------NAVBAR LOGO--------------------*/

  .roverRescue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bb9457;
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    color: #23395b;
    padding-bottom: 0px;
  }
  .rover {
  }
  .rescue {
  }

  /* --------------HOME -----------------*/
  .img-container {
    /* width: 375px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #puppyEyes {
    width: 100%;
    margin: 0 auto;
  }

  /* --------------BLOG -----------------*/

  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog h1 {
    color: #23395b;
    padding: 30px;
    text-align: center;
    margin: 0;
  }
  .blog p {
    margin: 0;
    padding: 0 30px 30px 30px;
    color: #443627;
  }

  .adopt-ad {
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* text-align: center; */
  }
  .dog-img {
    /* use this to put a frame around pics */
    border-color: #443627;
    border-width: 2px;
    padding: 10px 30px 0 30px;
  }
  .dog-img img {
    width: 150px;
    border-radius: 8px;
    /* padding: 10px;
    border: 3px dotted #23395b; */
  }
  .dog-info {
    color: #443627;
  }
  .dog-name {
    padding-left: 0;
    margin-left: 0;
  }
  .dog-stats {
    padding-left: 0px;
  }
  .dog-stats p {
    padding: 10px;
  }
  button {
    background-color: #bb9457;
    color: #23395b;
    padding: 10px;
    font-size: 18px;
    /* margin: 0 auto; */
    border-radius: 8px;
    margin-top: 5px;
    margin-left: -5px;
  }
}
/* -----------------DONATE----------------- */
.mail-donation {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mail-donation p {
  margin: 0;
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
.donateButton {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #bb9457;
  color: #23395b;
  padding: 10px;
  font-size: 24px;
  margin: 0 auto;
  border-radius: 8px;
}
.tax-deduct {
  /* padding: 10px; */
  color: #23395b;
}
#woof {
  margin: 0;
  padding-top: 30px;
  color: red;
  text-align: center;
}
#ty {
  margin: 0;
  padding-top: 10px;
  color: red;
  text-align: center;
}
.form-container {
  margin: 0;
  padding: 10px 30px 10px 30px;
}
form {
  padding: 20px;
  border: 3px dotted #23395b;
}
h3 {
  padding: 30px 30px 10px 30px;
  margin: 0;
}
/* -----------------ABOUT----------------- */
#about-welcome {
  padding: 30px 30px 0 30px;
  background-color: #efeeea;
}
#about-welcome h1 {
  margin: 0;
  padding: 0;
}
#about li {
  line-height: 1.5;
}
#about-list ul {
  padding: 0 50px 0 50px;
  margin: 0;
  line-height: 1.5;
  list-style-image: url("images/sm-paw.png");
}
