/* .clearfix {
  clear: both;
} */
.hamburger-container {
  cursor: pointer;
  padding: 20px 20px 0 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #efeeea;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
  transform: rotate(-45deg) translate(-4.5px, 3px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*--------------NAVBAR LINKS--------------------*/

nav {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: none;
  padding: 0px 0px 10px 10px;
}
.navbar a {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  text-decoration: none;
}
.navbar ul {
  margin: 0 auto;
  padding: 0;
}
.navbar li {
  display: block;
  margin-left: 20px;
  line-height: 1.5;
}
.navbar li:last-child {
  border-bottom: none;
}
.navbar a:link {
  color: #efeeea;
  text-decoration: none;
}
.navbar a:visited /*visited links- make same color as link color*/ {
  text-decoration: none;
  color: #efeeea;
}
.navbar a:hover {
  text-decoration: none;
  color: #23395b;
}
.navbar a:active /*the color when link is being pressed*/ {
  text-decoration: none;
  color: #a27035;
}

/*--------------NAVBAR LOGO--------------------*/
.flexbox-rr-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rr-logo {
  margin-top: -20px;
}
.rr-logo h1 {
  margin: 0;
}
.rr-logo h1 a {
  text-decoration: none;
  color: #23395b;
  background-color: #bb9457;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
}
#nav-logo-img {
  width: 50px;
  display: inline-block;
}
/* -----------Blue Blurb-------  */
.header-text-container {
  background-color: #23395b;
}

.header-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23395b;
}
.header-blurb p {
  color: #efeeea;
  margin: 0 auto;
  padding: 20px 30px;
}

.donate-header-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23395b;
}
.donate-header-blurb p {
  color: #efeeea;
  margin: 0 auto;
  padding: 20px 30px;
  text-align: left;
}
/*****************SMALL SCREEN*******************/
@media (min-width: 375px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: none;
    padding: 0px 0px 10px 10px;
  }
  .navbar a {
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    text-decoration: none;
  }
  .navbar ul {
    margin: 0 auto;
    padding: 0;
  }
  .navbar li {
    display: block;
    margin-left: 20px;
    line-height: 1.5;
  }
}
/*****************MEDIUM SCREEN*******************/
@media (min-width: 768px) {
  .hamburger-container {
    visibility: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px 10px 30px;
  }
  .navbar li {
    display: inline-block;
    margin: 0px 30px 0px 30px;
    line-height: 1.5;
  }
}
/*****************LARGE SCREEN*******************/
@media (min-width: 992px) {
  .hamburger-container {
    visibility: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px 10px 30px;
  }
  .navbar li {
    display: inline-block;
    margin: 0px 30px 0px 30px;
    line-height: 1.5;
  }
}
